// colors

$skin-color: #de6b00;
$darkgrey-color: #263045;
$grey-color: #f7f9fe;
$white-color: #fff;
$black-color: #000;

$font-stack: 'Poppins', sans-serif;
$heading-font-stack: 'Poppins', sans-serif;
$body-font: 14px;
$body-font-color: #6e6e6e;
